H1 {
    font-size: 200%;
    font-weight: bold;
    color: cornflowerblue;
}
H2 {
    font-size: 150%;
    color: cornflowerblue;
}
p {
    color: whitesmoke;
    font-size: 15pt;
    font-family: 'PT Serif', serif;
}
a {
    color: whitesmoke;
}
body {
    background: darkblue;
}